@import "tailwindcss";

.leaflet-container {
  background-color: #0a0a0a !important;
  font-family: inherit !important;
}

.custom-tooltip {
  background-color: #18181b !important;
  border: 1px solid #3f3f46 !important;
  color: #fff !important;
  border-radius: 8px !important;
  padding: 8px !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.5), 0 2px 4px -2px rgb(0 0 0 / 0.5) !important;
}

.leaflet-tooltip-top.custom-tooltip::before {
  border-top-color: #3f3f46 !important;
}
